<div>
  <h1>Bienvenidos al Partido Nacionalista de Streamers Peruanos <br> y un Bodoque de Chiclayo</h1>
  <p>Un espacio para gamers, streamers y amigos.</p>

  <!-- Botones de navegación (por ahora no hacen nada, pero están visualmente presentes) -->
  <div class="nav-buttons">
  <button routerLink="/" class="btn-gamer">Inicio</button>
  <button routerLink="/miembros" class="btn-gamer">Miembros</button>
  <button routerLink="/galeria" class="btn-gamer">Galería</button>
  <button routerLink="/contacto" class="btn-gamer">Contacto</button>
  </div>

  <!-- Espacio futuro para logo -->
  <p style="margin-top: 30px; font-style: italic;">(Aquí irá el logo del grupo)</p>
</div>
