<div class="miembros">
  <h1>Nuestros Integrantes</h1>

  <section class="seccion">
    <h2>Líderes y Fundadores</h2><br>
    <div class="tarjetas">
      <div class="miembro">
        <h3>PhantomJäger</h3>
        <p>Líder y Fundador</p>
      </div>
      <div class="miembro">
        <h3>Zafiro</h3>
        <p>Líder y Fundador</p>
      </div>
      <div class="miembro">
        <h3>Beyonmet</h3>
        <p>Líder y Fundador</p>
      </div>
    </div>
  </section>

  <section class="seccion">
    <h2>Miembros Activos</h2><br>
    <div class="tarjetas">
      <div class="miembro">
        <h3>Pixel</h3>
        <p>Miembro Activo</p>
      </div>
      <div class="miembro">
        <h3>Balee</h3>
        <p>Miembro Activo</p>
      </div>
      <div class="miembro">
        <h3>Teleka</h3>
        <p>Miembro Activo</p>
      </div>
    </div>
  </section>
  <section class="seccion">
    <div>
        <button routerLink="/" class="btn-gamer">Volver al Inicio</button>
    </div>
</section>
</div>
